@font-face {
  font-family: "Aldrich";
  src: url("./fonts/Aldrich-Regular.ttf");
}

.aldrich {
  font-family: "Aldrich";
}

@font-face {
  font-family: "Gravity";
  src: url("./fonts/Gravity-Light.ttf");
}

.gravity {
  font-family: "Gravity";
  font-size: 12px;
}
.gravity14 {
  font-family: "Gravity";
  font-size: 14px;
  font-weight: bolder;
}


table {
  border-collapse: collapse;
}

body {
  background-color: powderblue;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #225599;
    font-family: "Gravity";
    font-weight: bolder;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }